{% extends "base.html" %}

{% block title %}
<title>Перегляд статті</title>
{% endblock %}
{% load static %}
{% load custom_tags %}

{% block body %}
<h2>{{ article.name }}</h2>
<p>Категорія: {{ article.category }}</p>
<p>Автор: <a href="{% url 'blog:view_user_info' article.author.username %}">{{ article.author.username }}</a></p>
<p>Чи подобається вам ця стаття:
    {% if liked == 0 %}
    <a href="{% url 'blog:like_article' article.pk %}"><img src="{% static 'img/not_pressed_like.png' %}" width="30px" height="30px"></a>
    <a href="{% url 'blog:dislike_article' article.pk %}"><img src="{% static 'img/not_pressed_dislike.png' %}" width="30px" height="30px"></a>
    {% elif liked == 1 %}
    <a href="{% url 'blog:unlike_article' article.pk %}"><img src="{% static 'img/pressed_like.png' %}" width="30px" height="30px"></a>
    <a href="{% url 'blog:dislike_article' article.pk %}"><img src="{% static 'img/not_pressed_dislike.png' %}" width="30px" height="30px"></a>
    {% elif liked == -1 %}
    <a href="{% url 'blog:like_article' article.pk %}"><img src="{% static 'img/not_pressed_like.png' %}" width="30px" height="30px"></a>
    <a href="{% url 'blog:undislike_article' article.pk %}"><img src="{% static 'img/pressed_dislike.png' %}" width="30px" height="30px"></a>
    {% endif%}
</p>
<hr>
{% for element in elements %}
    {% if element.t == "text" %}<!-- Якщо це текстовий елемент -->
        <p>{{ element.text }}</p>
    {% else %}<!-- Якщо це файловий елемент -->
        {% if element.file.url|endswith:".png" or element.file.url|endswith:".jpg" %}
        <img src="{{ element.file.url }}" alt="Картинка">
        {% elif element.file.url|endswith:".mp4" %}
        <video width="320" height="240" controls>
            <source src="{{ element.file.url }}" type="video/mp4">
            На жаль, ваш браузер не підтримує відео
        </video>
        {% else %}
        <a href="{{ element.file.url }}">Завантажити файл</a>
        {% endif %}
    {% endif %}
{% endfor %}
<hr>
{% if comments %}
<ul>
    {% for comment in comments %}
    <li>{{ comment.author.username }}: {{ comment.text }}
        {% if user == comment.author or user.role == comment.author.Roles.ADMINISTATOR %}
        <a class="btn btn-danger" href="{% url 'blog:delete_comment' article.pk comment.pk %}" role="button">Видалити</a>
        {% endif %}
    </li>
    {%endfor%}
</ul>
{% else %}
<h3>На жаль до цієї статті не додали коментарів</h3>
{% endif %}
<form method="post" action="{% url 'blog:add_comment' article.pk %}">
    {% csrf_token %}
    <input type="text" name="text" required>
    <input type="submit" value="Додати коментар">
</form>
{% endblock %}
